 <h1>Hello {{name}}</h1>


 {{cs.title}}

 <app-product-list></app-product-list>


  I live in  {{user.address?.city}}


  <ul [hidden]="isAdult()">
    <li>{{user?.address?.street}}</li>
    <li>{{user?.address?.city}}</li>
  </ul>
  <input type="text" [(ngModel)]="name" #thename (keyup)="0" [ngClass]="computeInputClass()"  >
  {{ thename.value}}
  <button (click)="changeCityName()">Change city</button>

 <div app-truck>Hello</div>

  <input #filterBox (keyup.enter)="showMeTheValue(filterBox.value)" >

  <table>
    <tr>
      <th>ID</th>
      <th appHighlight>Firstname</th>
      <th>Lastname</th>
    </tr>
    <tr *ngFor="let student of students; let i=index">
      <td>{{i}} - {{student.id}}</td>
      <td>{{student.firstname}}</td>
      <td>{{student.lastname | reverse:'abc'}}</td>
    </tr>
  </table>


  <pre>
  {{students | json}}
  </pre>
  <button (click)="addAndFetch()">Add and fetch</button>

  <app-truck></app-truck>
