<h1>Add User</h1>

<ul *ngIf="formSubmitted">
    <li [hidden]="fnfield.valid || fnfield.pristine"
         class="alert alert-danger">
      First Name is required
    </li>
    <li [hidden]="lnfield.valid || lnfield.pristine"
        class="alert alert-danger">
      First Name is required
    </li>

  <!-- Or another way to do bypassing template variable -->
  <li [hidden]="userForm.form.get('firstname')?.valid"
      class="alert alert-danger">
    First Name is required
  </li>
</ul>
<form #userForm="ngForm" (ngSubmit)="getFormData()">
  <div>
    <label for="firstname">Firstname</label>
    <input type="text" id="firstname" name="firstname" [(ngModel)]="user.firstname" ngModel  #fnfield="ngModel" required>
  </div>
  <div>
    <label for="age">age</label>
    <input type="number" text="" id="age" name="age" [(ngModel)]="user.age" ngModel #lnfield="ngModel" required>
  </div>
  <fieldset ngModelGroup="address" *ngIf="user.address">
    <input type="text" id="streetname" name="streetname" [(ngModel)]="user.address.streetname"  #fnfield="ngModel" required>
    <input type="number" name="streetnumber" ngModel>
  </fieldset>
  <button type="submit">Send data</button>

</form>
