<h1>Hey welcome here</h1>

<app-a></app-a>
<app-c></app-c>
<span (click)="cs.title = 'I have changed'">{{cs.title}}</span>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A atque ipsum qui quibusdam sed sit tempora? Consectetur cumque, dicta dolorum ea eos facilis iure, pariatur perferendis rerum, sapiente sint veritatis.</p>
<button (click)="startThatObs()">START</button>
<div #mydiv>
LOREM ipsum dolor sit amet, consectetur adipisicing elit. Cum dicta eos error fuga mollitia perspiciatis recusandae sint unde voluptate! Alias culpa delectus error ipsam iusto molestias nisi numquam odit quibusdam!
</div>
