:host{
  border: 1px solid forestgreen;
  background-color: #c4ffc4;
  display: block;
}


.valid{
  color:green;
  border-color: green;
}

.pending{
  color:orange;
  border-color: orange;
}

.error{
  color:red;
  border-color: red;
}
